/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #181818; /* Fondo oscuro */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del login */
.login-container {
    background-color: #252525; /* Fondo ligeramente más claro para contraste */
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 20px;
}

.login-container img {
    max-width: 150px; /* Imagen del logo bien centrada */
    margin-bottom: 20px;
}

h2 {
    color: #ffffff;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Estilos para los inputs */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #555555;
    border-radius: 6px;
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #6200ea; /* Color destacado al foco */
    outline: none;
    background-color: #333333;
}

/* Botón de enviar con el nuevo color */
input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #196a5b; /* Color verde oscuro extraído de la imagen */
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #14594d; /* Un tono más oscuro para el hover */
}
/* Para mensajes o errores */
p {
    margin-top: 10px;
    color: #f44336; /* Mensajes de error en rojo */
    font-size: 14px;
}


/* Responsividad */
@media (max-width: 768px) {
    .login-container {
        padding: 30px 15px; /* Reducir padding en pantallas más pequeñas */
    }

    h2 {
        font-size: 20px;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        font-size: 14px; /* Ajustar tamaño del texto en inputs */
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px 10px;
    }

    h2 {
        font-size: 18px;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        font-size: 12px;
        padding: 10px;
    }
}
